In [10]:
#!pip install pandas
#!pip install openpyxl
import pandas as pd

# Specify the path to your Excel file
file_path = "data-sources/UT-State Tax monthly-sales-historical.xlsx"

# Read the Excel file
df = pd.read_excel(file_path, sheet_name="Table 6", skiprows=5)

# Display the first few rows of the DataFrame
print(df.head())

                 Month            County  Location Code         City  \
0  1998-01-01 00:00:00     Beaver County         1002.0  Beaver City
1  1998-01-01 00:00:00     Beaver County         1002.0  Beaver City
2  1998-01-01 00:00:00     Beaver County         1002.0  Beaver City
3  1998-01-01 00:00:00     Beaver County         1002.0  Beaver City
4  1998-01-01 00:00:00  Box Elder County         2017.0      Brigham

          Economic Supersector  Taxable Sales Unnamed: 6
0             Taxable Services      446755.63        NaN
1         Taxable Retail Trade      416092.61        NaN
2  Taxable Business Investment      145603.39        NaN
3      All Other Taxable Sales       70000.00          *
4             Taxable Services     2319265.04        NaN

## Comparison Data set from published tax elasticity research

In [11]:
df = pd.read_stata('data-sources\county_sales_tax_data.dta')

# Display the first few rows of the DataFrame
print(df.head())

   year  month state  fips_state_code  fips_county  total_sales_tax  \
0  2003      1    AL                1          1.0              NaN
1  2003      2    AL                1          1.0              NaN
2  2003      3    AL                1          1.0              NaN
3  2003      4    AL                1          1.0              NaN
4  2003      5    AL                1          1.0              NaN

   state_sales_tax  local_sales_tax  county_sales_tax  city_sales_tax  \
0             0.04              NaN               NaN             NaN
1             0.04              NaN               NaN             NaN
2             0.04              NaN               NaN             NaN
3             0.04              NaN               NaN             NaN
4             0.04              NaN               NaN             NaN

   mta_sales_tax  spd_sales_tax  other_sales_tax
0            NaN            NaN              NaN
1            NaN            NaN              NaN
2            NaN            NaN              NaN
3            NaN            NaN              NaN
4            NaN            NaN              NaN